<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align:center;">
                    <!-- <span><img alt="image" class="img-circle" src="/static/images/profile_small.jpg" /></span> -->
                    <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:50px;color:#1ab394;text-shadow:1px 2px 2px #1c84c6;"></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"><strong class="font-bold">{$Request.session.user_login}</strong></span>
                            <span class="text-muted text-xs block">{$Request.session.role_name}<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a class="J_menuItem" href="javascript:;">修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{:url('admin/index/loginOut')}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    <i class="fa fa-home"></i>
                </div>
            </li>
            <volist name="menu" id="parent">
                <if condition="check_auth($parent['controller'])">
                    <li>
                        <a href="#">
                            <i class="fa {$parent['icon']}"></i>
                            <span class="nav-label">{$parent['name']}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <volist name="parent.child" id="child">
                                <if condition="check_auth($child['action'])">
                                    <li>
                                        <a class="J_menuItem" href="{:url($child['action'])}">{$child['name']}</a>
                                    </li>
                                </if>
                            </volist>
                        </ul>
                    </li>
                </if>
            </volist>
        </ul>
    </div>
</nav>