<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>交易平台</title>
    <meta name="keywords" content="交易平台123456 ">
    <meta name="description" content="交易平台">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
    <!-- 移动端web自适应 -->
    
    <script type="text/javascript" src="http://common.gdjshd.com/ydmb_ty/js/Adaptive.js"></script>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="/css/Jingle.css">
    
 <style>
       
        select{
            width:30%;
            background-color:#fff;
            height:35px;
            font-size:12px;
            color: #666;
        }
        #hphone input{
            font-size:12px;
            background-color:#c00;
            border:1px solid #c00;
            color:#fff;
            margin-left:2px;
        }

        *{
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }
    #fade{
        width: 100%;
        height: 150px;
        margin: 0 auto;
        position: relative;
    }
    .now-left{
        position: absolute;
        top: 45%
    }
    .now-right{
        position: absolute;
        top: 45%;
        left:93%;
    }
    .ul_dian{
        position: absolute;
        top: 90%;
        left: 38%;
    }
    .ul_dian li{
        float: left;
    }

    </style>

</head>
<body>
<div id="section_container">
    <!-- 页面容器 -->
    <header style='position:fixed'>
        <nav style="text-align: center;width:100%;">
            交易网
        </nav>
    </header>
    <!-- <div style='width:100%;height:0px;'></div> -->
    <section id="index_section" data-btn="index" title="交易网" class="active" style='margin-top:20px;bottom:48px;overflow-x: hidden;overflow-y: auto;position:absolute;width:100%'>
 <!-- <div id="fix_js" class="fix_css">
   
</div> -->

        <article id="article_ind" class="active" style='margin-bottom:80px'>
            <div id="fade">
                <div id="slideBox" class="slideBox">
                    <div class="bd">
                      <ul>
                        {foreach name="slide" item='li' key='key'}
                        <li>
                          <a href="#"><img src="{$li.img_path}" style='width:100%;height:150px'/></a>
                        </li>
                        {/foreach}
                      </ul>
                    </div>
                <!-- <img src="/static/admin/login/img/1.jpg" width="100%" height="100%" id="lunbo"> -->
                <div style='padding-left:3%;position: absolute;bottom:15%;color:#FFF;font-weight:bold;letter-spacing:2px;font-size: 14px;'>口罩资源圈</div>
                <div style='padding-left:3%;position: absolute;bottom:1%;color:#FFF;font-size: 12px;'>
                    6723人加入&nbsp;&nbsp;&nbsp;&nbsp;3453篇动态&nbsp;&nbsp;&nbsp;&nbsp;8分钟前更新
                </div>
                <!-- <i class='iconfont icon-jiantouzuo now-left' id="left"></i>
                <i class='iconfont icon-jiantouyou now-right' id="right"></i>
                <ul class="ul_dian">
                    <li class='iconfont icon-yuandianzhong '></li>
                    <li class='iconfont icon-yuandianzhong '></li>
                    <li class='iconfont icon-yuandianzhong '></li>
                    <li class='iconfont icon-yuandianzhong'></li>
                </ul> -->
            </div>
            <div style='border:0px solid red;width:100%;height:48px;background-color:#F8F8F8;'>
                <div style='float:left;border:0px solid red;width:50%;height:100%;text-align:center;padding-top:8px'>
                    <div style='font-size:14px;'>3453<font size='2' color='#666'> 篇</font></div>
                    <div style='font-size:11px;color:#C0C0C0'>社区动态资讯</div>
                </div>
                <div style='float:right;border:0px solid red;width:50%;height:100%;text-align:center;padding-top:8px'>
                    <div style='font-size:14px;'>7623<font size='2' color='#666'> 人</font></div>
                    <div style='font-size:11px;color:#C0C0C0'>加入圈子</div>
                </div>
            </div>
            <div style='border:0px solid red;width:100%;font-size: 14px;padding:8px;letter-spacing: 1px;'>
                <span style='font-size:16px;font-weight: bold;'>圈子介绍</span><br>
                {volist name="content" id="vo"}
                {$vo['content']}
                {/volist}
                
            </div>
            <div>
                
              </div>
                <div id="tab-xfbox">
                <div class="bd">
                    <ul class="term-opt">
                        <form action="" method="post">
                        <li>
                            <dl>
                                <dt>区域</dt>
                                <dd>
                                <select name="sheng" id="sheng">
                                    <option value="">请选择地区</option>
                                    {volist name="sheng" id="vo"}
                                    <option value="{$vo['district_id']}">{$vo['district']}</option>
                                    {/volist}
                                </select>
                                <select name="shi" id="shi">
                                    <option value="">请选择市</option>
                                </select>
                                <select name="qu" id="qu">
                                    <option value="">请选择县</option>
                                </select>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                 <dt>类型</dt>
                                 <dd>
                                    <select name="typea" id="typea">
                                        <option value="">请选择分类</option>
                                        {volist name="typea" id="vo"}
                                        <option value="{$vo['id']}">{$vo['ttype']}</option>
                                        {/volist}
                                    </select>
                                    <select name="typeb" id="typeb">
                                        <option value="">请选择分类</option>
                                    </select>
                                    <span style="margin-left:20px;width:80px;"><input type="submit" style="background-color: #f44336;border-radius: 5px;
                                        border: none;
                                        color: white;
                                        padding: 6px 16px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 14px;" value="筛选">
                                </dd>
                            </dl>
                        </li>
                    </form>
                    </ul>
                </div>
                <ul class="list list-text-single">
                    <li class="divider">买卖头条</li>
                    {volist name="flag" id="vo"}
                   
                    <div>
                    	<div style='border:0px solid red;width:100%;height:124px;margin-left:4px'>

                            <!-- <dd>
                                <dd style="float:left;border:1px solid white;padding-top:20px;">
                                     <span><img  style="border-radius:50%;overflow:hidden;" width='40px' height='40px' src="{$vo['topimg']}"></span> -->
                                <!-- </dd>
                            </dd> --> 
                            <div style="margin-left:0.5rem;padding-bottom:0.1rem;padding-top:0.3rem;">
                                <!-- <dl style="font-size:15px;padding-top:8px;">{$vo.username}</dl> -->
                                <dl style="color:#666;font-size:12px;">发布时间：{$vo.create_time}</dl>
                            </div>

                        	<div style="float:left;margin-right:10px;">
                                <img width="80" height="80" src="{$vo['images']}">
                            </div>
                            <strong style="font-weight:bold;font-size: 15px;">
                            	<div style='float:left;border:0px solid red;height:28px;padding-top:5px'>
                                  	{if $vo.status==1}[出售]
                                	{else}[购买]{/if}
                                	{$vo.title}
                                </div>
                              	<div style='border:0px solid red;height:28px;width:0px;float:right;margin-right:140px;padding-bottom:20px'>
                                  <?php echo substr_replace($vo['userphone'],'****',3,4)?>
                                  <span onclick='pay(<?php echo $vo['id']?>)' id="hphone" style='margin-left: 16px;'>
                                      <img width='30px' height='30px'src="/static/admin/login/img/phone2.png"/>
                                  </span>
                              	</div>
                            </strong>
                            <span style="font-size: 14px;color:#666;font-family:Microsoft YaHei;margin-top:5px;overflow:hidden; display:-webkit-box; -webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; ">
                                {$vo.username}
                            </span>
                            <!-- <div> -->
                                <div style='font-size:14px;color:#666;font-family:Microsoft YaHei;border:0px solid red'>
                                    {$vo['ttype']}
                                </div>
                                <div style='font-size:14px;color:#666;font-family:Microsoft YaHei;border:0px solid red;width:99%;'>
                                    {$vo.address}
                                </div>
                            <!-- </div> -->
                            
                            
                                
                        </div>
                        <div style="font-size:14px;color:#666;font-family:Microsoft YaHei;margin-top:5px;border:0px solid black;width:100%;height:auto;margin-left:4px">
                            {$vo.contents}
                        </div>
                        <hr style='border:0.5px solid #f0f0f0;'></hr>
                        
                    </div>
                    {/volist}
                </ul>
            </div>
            </div>
        </article>
        
    </section>
    <!-- <div style='width:100%;height:42px;'></div> -->
        <footer style='position:fixed;border:1px solid red;height:40px;background-color:#c00;color:#fff;font-size:16px;'>
            <div style='width:100%;border:0px solid black'>  
                <div onclick='myin()' style="float:left;margin-left:32px;margin-top:8px;">我的</div>
              <div onclick='releace()' style="float:right;margin-right:32px;margin-top:8px;">我要发布</div>
            </div>
        </footer>
    
</div>
<a href="#" id="gotop"></a>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__STATIC__/admin/js/jquery.SuperSlide.2.1.3.js"></script>
<!-- custom -->
<script type="text/javascript">
    jQuery(".slideBox").slide({mainCell:".bd ul", effect: "leftLoop",vis: "auto",autoPlay:true,delayTime:1000
        });
    //登录注册表单
    function pay(id)
    {   //window.confirm("若获取手机号请进行购买");
        
        // alert($phone);
        var session = '{$Request.session.admin}';
        // console.log(session);
        if(session == '')
        {
            // console.log(11);
            location.replace("index.php{:url('index/login')}");
        }else{
            // console.log(22);
            // location.replace("{:url('index/order')}");
            if (confirm("若获取手机号请进行购买")) {  
                $.ajax({
                    type: "post",
                    url: "{:url('index/order')}",
                    data: {
                            'user_session': session,
                            'id':id
                        },
                    async:true,
                    success:function(res){
                       if (res == 1) {
                          location.replace("{:url('index/wxpay')}");
                       }else{
                          console.log('生成订单错误')
                       }
                    }
                })
            }  
            else {  
                location.replace("{:url('index/index')}");
            }  
            
        }
    };
//发布、我的 登录注册表单
function myin(){
    var session = '{$Request.session.admin}';
    if(session == ''){
        // alert('不存在用户');
        location.replace("{:url('index/login')}");
    }else{
        //alert('cunzai ');
        location.replace("{:url('index/mine')}");
    }
       
}

function releace(){
    var session = '{$Request.session.admin}';
    if(session == ''){
        // alert('不存在用户');
        location.replace("{:url('index/login')}");
    }else{
        location.replace("{:url('index/add')}");
    }
}


    //地区联动
    $('#sheng').change(function(id){
         var aa = $('#sheng').val();
         $.ajax({
            type: "post",
            url: "index.php{:url('index/checkregion')}",
            data: {
                    'id': aa
                },
                async:true,
                success:function(r){
                    //alert(r);
                    $("#shi").html(r);
                }
         })

    })
    $('#shi').change(function(){
        var shi = $("#shi").val();
        //alert(shi);
        $.ajax({
            type: "post",
            url: "index.php{:url('index/checkregion')}",
            data: {
                'id': shi
            },
            async:true,
            success:function(r){
                $("#qu").html(r);
            }
        })
    })


    //类型联动
    $('#typea').change(function(id){
         var typea = $('#typea').val();
         $.ajax({
            type: "post",
            url: "index.php{:url('index/checktype')}",
            data: {
                    'id': typea
                },
                async:true,
                success:function(r){
                    //alert(r);
                    $("#typeb").html(r);
                }
         })

    })

    function time(){

        $(".ksttc").show();

    }setInterval("time()",10000);

</script>