<!DOCTYPE html>
<html lang="en" >
	<!-- begin::头部样式 -->
	<include file='public/header_meta'/>
	<!-- begin::头部样式 -->
	<body class="m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default">
		<div class="m-grid m-grid--hor m-grid--root m-page">
			<!-- begin::头部 -->
			<include file='public/header'/>
			<!-- end::头部 -->

			<!-- begin::主体内容部分 -->
			<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body">
				<div class="m-grid__item m-grid__item--fluid  m-grid m-grid--ver	m-container m-container--responsive m-container--xxl m-page__container">
					<div class="m-grid__item m-grid__item--fluid m-wrapper">

						<div class="m-content">
							<div class="row">
								<div class="col-xl-9 index-col-xl-9">
									<div class="m-portlet m-portlet--mobile ">
										<p class="m-portlet__head-text m-portlet__head" style="padding:10px;background:#fff8e6;">
											<a href="/" class="bread-nav">首页</a> /
											<a href="javascript:;" class="bread-nav">{$parentName.menu_name}</a> /
											<a href="javascript:;" class="bread-nav-last">{$catName.menu_name}</a>
										</p>
										<div class="m-portlet__body">
											<div class="ibox">
												<if condition="$articles neq ''">
													<volist name="articles" id="vo">
														<div class="ibox-content">
									                        
								                            <h4 style="margin-bottom:1rem;">
								                               <a href="{:url('index/Index/articleDetail')}?article_id={$vo.article_id}" style="color:#454080;">{$vo.article_title}</a>
								                            </h4>
									                        <div class=""><p style="text-indent:30px;">{$vo.article_content}</p></div>
									                        <div class="row">
									                            <div class="col-md-6 small">
									                            	<span class="text-muted">
									                            		<i class="fa fa-clock-o"></i> 
									                            		{$vo.article_add_time}
									                            	</span>
									                            </div>
									                            <div class="col-md-6">
									                                <div class="small text-right">
									                               		<span>标签：</span>
									                               		<volist name="vo.article_tags" id="tags">
									                               			<a href="{:url('index/Index/tagArticleList')}?tag_id={$tags.menu_id}">{$tags.menu_name}</a>&nbsp;
									                               		</volist>
									                                    &nbsp;<i class="fa fa-eye"> </i> {$vo.article_read_count}
									                                </div>
									                            </div>
									                        </div>
									                    </div>
									                    <div class="hr-line-dashed"></div>
													</volist>
												<else/>
												    <p style="text-align: center;">暂无相关内容...</p>
												</if>
							                </div>
							                <if condition="$page gt 0">
							                	<!--分页代码-->
	     										<div class="pagination-list"></div>
	     										<!--分页代码-->
							                </if>
										</div>
									</div>
								</div>
								<!--右边部分-->
								<include file='public/right'/>
								<!--右边部分-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end::主体内容部分END -->

			<!-- begin::底部 -->
			<include file='public/footer'/>
			<!-- end::底部 -->
		</div>
    	
	    <!-- begin::回到顶部 -->
		<div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
			<i class="la la-arrow-up"></i>
		</div>
		<!-- end::回到顶部 -->			

		<!-- begin::侧边导航 -->
		<include file='public/sidebar_nav'/>
		<!-- begin::侧边导航 -->	
	</body>
</html>
<script type="text/javascript">

   $(document).ready(function(){

   	    var t = $(".pagination-list");
        var setting = 
        {
        	totalPage  : "{$page}",
        	current_p  : "{$p}",
        	isAjax     : false,
        	http_url   : "{:url('index/Index/tagArticleList')}",
        	url_param  : "&tag_id={$tag_id}",
        }

   	    $.fn.ajaxPagination.init(t,setting);
        
   });
</script>