<!DOCTYPE html>
<html>
<head>
	<title>vue</title>
</head>
<style type="text/css">
	.fade-enter-active, .fade-leave-active {
	  transition: opacity .5s;
	}

	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	  opacity: 0;
    }
</style>
<body>
    
    <div id="app">
    	{{ message }}
	</div>

	<div id="app-2">
	  <span v-bind:title="message">
	    鼠标悬停几秒钟查看此处动态绑定的提示信息！
	  </span>
	</div>
    
    <div id="app-3">
	  <p v-if="seen">现在你看到我了</p>
	</div>
    
    <div id="demo">
		  <button v-on:click="show = !show"><!--可以定义函数，或者直接写js代码-->
		    显示隐藏
		  </button>
		  <transition name="fade">
		    <p v-if="show">hello</p>
		  </transition>
	</div>

	<div id="app-4">
		<p>动态添加数据源，显示列表渲染<button v-on:click="addData">添加数据</button></p>
	  <ol>
	    <li v-for="todo in todos">
	      {{ todo.text }}
	    </li>
	  </ol>
	</div>

	<div id="app-5">
	  <p v-on:click="test">{{ message }}</p>
	  <button v-on:click="reverseMessage">监听事件</button>
	</div>
    
    <div id="app-6">
    	<div>
    		<input type="text" name="val" id="val"  v-model="b">
    		<button v-on:click="changeValue">改变值</button>
    	</div>
    </div>
   

   
	<div id="app-7">
		<p>切换input</p>
		<template>
		   <label>Username</label>
		   <input v-model="loginType" placeholder="Enter your username" key="username-input">
		</template>
		<!-- <template v-else>
		   <label>Email</label>
		   <input placeholder="Enter your email address" key="email-input">
		</template> -->

		<button v-on:click="switchBtn">切换</button>
		<!--v-show只是改变display控制显示隐藏 而v-if 是重新渲染DOM开销大-->
		<h1 v-show="ok">Hello!</h1>
	</div>
    <div id="app-8">
    	<!--v-on:submit.prevent 阻止提交表单页面跳转-->
	    <form>
		    <label for="new-todo">Add a todo</label>
		    <input v-model="newTodoText" id="new-todo" placeholder="E.g. Feed the cat">
		    <button>Add</button>
	    </form>
	    <ul>
            <span></span>
             <span></span>
		    <li v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" >	
		    	{{todo.title}}
		    	<button v-on:click="removeDom(index)">移除节点</button>
		    </li>
		  </ul>
	</div>
	<div id="app-9">
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
		<select v-model="selected">
		    <!-- 内联对象字面量 -->
		     <option >选择</option>
		  <option v-bind:value="123">123</option>
		</select>
		<alert-box class="test-cla">Something bad happened.</alert-box>
	</div>

	<div id="methods-computed">
		<div>
			<li><input type="text" name="val" id="val"  v-model="a">
			<span>a值改变了：{{changeA}}</span></li>

			<li><input type="text" name="val" id="val"  v-model="b">
			<span>b值改变了：{{changeB}}</span></li>
			<a href="#">{{listenAll()}}</a>
		</div>
	</div>
</div>
</body>
</html>
<load file="/static/js/index/vue.js"/>
<script type="text/javascript">
   var vm = new Vue({
    el: '#methods-computed',
	data: { a: 'a de zhi ',b:'b de zhi '},
    
    //*******实时监听属性值改变，开发一般不会用watch来监听属性*********//
	watch: { // 监听data里对应key的value值的变化，并触发相应的方法. 可以在input标签里使用v-model='a',监听a的值的变化

	    // 如果 `a` 发生改变，这个函数就会运行
	    a: function (newA, oldA) {
	       // console.log('a的值改变了：'+this.a)
	    },

		// 如果 `b` 发生改变，这个函数就会运行
	    b:function(newA, oldA) {
	    	// console.log('b的值改变了：'+this.b)
	    }
	  },
    //********computed依赖于缓存，只有属性值改变是才会重新赋值，反之则返回上一次的值 效率更高********//
	computed:{  //计算属性
        changeA:function() {
            console.log('当前a的值：'+this.a)  // 注：当属性值改变时，只有方法体内用到了该属性值才会被调用

        },

        changeB:function() {
            console.log('当前b的值：'+this.b)
        }
	},
	 //********任意属性值发生改变都会被调用（注：必须用{{listenAll()}} 调用才会生效），一般用于事件绑定函数调用。********//
	methods:{
        listenAll:function(){
           console.log('当前a的值：'+this.a,'当前b的值：'+this.b)
        }
	}

});

	var app = new Vue({
	  el: '#app',
	  data: {
	    message: '{$msg}'
	  }
	})
	 
	var app2 = new Vue({
	  el: '#app-2',
	  data: {
	    message: '页面加载于 ' + new Date().toLocaleString()
	  }
	})
    
    var app3 = new Vue({
	  el: '#app-3',
	  data: {
	    seen: false
	  }
	})

	new Vue({
	  el: '#demo',
	  data: {
	    show: true
	  }
	})

	var app4 = new Vue({
	  el: '#app-4',
	  data: {
	    todos: [
	      { text: '学习 JavaScript' },
	      { text: '学习 Vue' },
	      { text: '整个牛项目' }
	    ]
	  },
	  methods:{
	  	addData:function(){
	  		this.todos.push({ text:'新增数据' });
	  	}
	  }
	})

	var app5 = new Vue({
	  el: '#app-5',
	  data: {
	    message: '监听事件'
	  },
	  methods: {
	    reverseMessage: function () {
	      // this.message = this.message.split('').reverse().join('')

	      // alert(333)
	    },

	    test:function() {
	    	console.log('testclick')
	    }
	  }
	})
 
	// 该对象被加入到一个 Vue 实例中
	var vm = new Vue({
	    el: '#app-6',
		data: { a: 1,b:66 },

		watch: { // 监听data里对应key的value值的变化，并触发相应的方法. 可以在input标签里使用v-model='a',监听a的值的变化

		    // 如果 `a` 发生改变，这个函数就会运行
		    a: function (newA, oldA) {
		       console.log('a的值改变了：'+this.a)
		    },

			// 如果 `b` 发生改变，这个函数就会运行
		    b:function(newA, oldA) {
		    	console.log('b的值改变了：'+this.b)
		    }
		  },

		methods:{  //可以绑定方法，如点击事件方法
	        changeValue:function() {
	              this.a = 66;
	        }
		}

	});

	var app7 = new Vue({
	  el: '#app-7',
	  data: {
	    loginType: 'username',
	    ok :true
	  },
	  methods: {
	    switchBtn: function () {
	    	// this.loginType = this.loginType=='username' ? 'email' : 'username';
	    	this.ok = this.ok==1 ? false : true;
	    },
	  },
	  computed:{
	  	site: {
	      // getter
	      get: function () {
	        return this.name + ' ' + this.url
	      },
	      // setter
	      set: function (newValue) {
	      	 
	        var names = newValue.split(' ')
	        this.loginType = names[0]
	        // this.ok = names[1]
	      }
	    }
	  }
	})

	var app8 = new Vue({
	  el: '#app-8',
	  data: {
	    newTodoText: '',
	    todos: [
	      {
	        id: 1,
	        title: 'Do the dishes',
	      },
	      {
	        id: 2,
	        title: 'Take out the trash',
	      },
	      {
	        id: 3,
	        title: 'Mow the lawn'
	      }
	    ],
	    nextTodoId: 4
	  },
	  methods: {
	    addNewTodo: function () {
	    	this.todos.push({
		        id: this.nextTodoId++,
		        title: this.newTodoText
	        })
	        this.newTodoText = ''
	        // console.log(1234);
		}, 
		testodo:function(){
				// console.log(888);
		},
		removeDom:function(index) {
			this.todos.splice(index,1); // 删除数组指定元素
		}  
	  }
	})
 

    Vue.component('alert-box', {
	  template: `
	    <div class="demo-alert-box">
	      <strong>Error!</strong>
	      <slot></slot>
	    </div>
	  `
	})

	var app9 = new Vue({
	  el: '#app-9',
	  data: {
	    checked: false,
	    selected :true
	  },
	  watch: { 
        
         checked:function(){
         	console.log(this.checked)
         }

	  }
	})
    

	

</script>