<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>忆寻-admin</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico" />
    <css href="/static/css/admin/bootstrap.min14ed.css" />
    <css href="/static/css/admin/font-awesome.min93e3.css" />
    <css href="/static/css/admin/animate.min.css" />
    <css href="/static/css/admin/plugins/summernote/new_sumnote.css"/>
    <css href="/static/css/admin/plugins/summernote/summernote-bs3.css"/>
    <css href="/static/css/admin/plugins/chosen/chosen.css"/>
    <css href="/static/css/admin/plugins/datapicker/datepicker3.css"/>
    <css href="/static/css/admin/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
    <css href="/static/css/admin/style.min862f.css"/>
    <link href="/static/css/admin/admincommon.css?v=20181116" rel='stylesheet' type='text/css' />
</head>
<style type="text/css">
    .chosen-container-multi{margin-left:16px;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content">
   
        <div class="row">
            <div class="col-sm-12">
                <form action="{:url('admin/type/addtype')}" method="post">
                <div class="form-group">
                    <label class="col-sm-1 control-label">类型名称：</label>
                    <div class="input-group col-sm-6">
                        <input type="text" name="ttype" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">所属分类：</span></label>
                    <div class="input-group col-sm-6">
                        <select data-placeholder="选择所属分类" name="tid" class="chosen-select">
                            <option value="0">顶级分类</option>
                            <volist name="type_type" id="voo">
                            <option value="{$voo['id']}">{$voo['ttype']}</option>
                            </volist>
                        </select>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">保存内容</button>
                
            </form>
                
            </div>
        </div>

        

</div>
<js href="/static/js/admin/jquery.min.js"/>
<js href="/static/js/admin/bootstrap.min.js"/>
<js href="/static/js/admin/content.min.js"/>
<js href="/static/js/admin/plugins/chosen/chosen.jquery.js"/>
<js href="/static/js/admin/plugins/summernote/new_sumnote.js"/>
<js href="/static/js/admin/plugins/summernote/summernote-zh-CN.js"/>
<js href="/static/js/admin/plugins/layui/layer/layer.js"/>
<js href="/static/js/admin/plugins/datapicker/bootstrap-datepicker.js"/>
<script>
    $(document).ready(function(){

        $("#temp_picture_wrap").on("click",'.del_temp_picture',function(){
            $("#article_poster").val('');
            $("#hide_article_poster").val('');
            $("#temp_picture_wrap").empty();
        });

        $('.summernote').summernote({
            lang:"zh-CN",
            height:'300px',
            callbacks: {
                onImageUpload: function(files) {
                    var formData = new FormData();
                    formData.append('file',files[0]);
                    $.ajax({
                        url : "{:url('admin/Upload/checkUploadFileInfo')}?isupload=2&folder=article",//后台文件上传接口
                        type : 'post',
                        data : formData,
                        processData : false,
                        contentType : false,
                        success : function(data) {
                            if(data.code==1){

                                $('.summernote').summernote('insertImage',data.data,'img');

                            }else{

                                layer.msg(data.msg, {time:800, icon:2});
                            }
                        },
                        dataType:'json'
                    });
                }
            }
        });

        $("#article_add_time").datepicker();

        var chosen = $(".chosen-select").chosen({
            max_selected_options:10,
            width: "50%"
        });
        chosen.bind("chosen:maxselected", function () {
            layer.msg('最多选10项', {time:800, icon:2});
        });
    });

    function getImgData(obj){

        var file =  obj.files[0];
        var formData = new FormData();

        var createObjectURL = function(blob){

            return window[window.webkitURL ? 'webkitURL' : 'URL']['createObjectURL'](blob);
        };

        formData.append('file',file);

        $.ajax({
            url: "{:url('admin/Upload/checkUploadFileInfo')}?isupload=1",
            type: 'post',
            processData: false,  // 异步传输 formData 时要加上  processData: false  contentType: false
            contentType: false,  // 否则会报 Illegal invocation 非法调用错误
            data: formData,
            success: function (data) {

                if(data.code==1) {
                    var filedata  = createObjectURL(file);
                    var imgObject = new Image();
                    imgObject.src = filedata;
                    imgObject.id  = 'temp_picture';
                    imgObject.width   = '240';
                    imgObject.height  = '250';
                    imgObject.style.marginTop  = '15px';

                    $('#temp_picture_wrap').html('').append(imgObject);
                    $('#temp_picture_wrap').append("<a class='del_temp_picture' style='position:absolute;bottom:0px;margin-left:10px;'>删除</a>");

                }else{

                    $("#article_poster").val('');
                    $("#temp_picture_wrap").empty();
                    layer.msg(data.msg, {time:800, icon:2});
                }

            },
            dataType:'json'
        });

    }


    function publishArticleSubmit(){

        if($.trim($("input[name='article_title']").val()) ==''){

            layer.msg('请填写类型名称', {time:500, icon:2});

            return false;
        }

        var formData = new FormData(document.getElementById('article_form'));

        var url = '';
        // if($("#handle_type").val()=='add') {
        //
        //
        //
        // }else if($("#handle_type").val()=='update'){
        //
        //     url = "{:url('admin/Article/updateArticle')}";
        // }
        url = "{:url('admin/type/saveType')}";
        $.ajax({
            url: url,
            type: 'post',
            processData: false,  // 异步传输 formData 时要加上  processData: false  contentType: false
            contentType: false,  // 否则会报 Illegal invocation 非法调用错误
            data: formData,
            success: function (data) {

                if(data.code==1) {

                    layer.msg(data.msg, {time:500, icon:6});

                }else{

                    layer.msg(data.msg, {time:500, icon:5});
                }
            },
            dataType:'json'
        });
    }
</script>
</html>
