<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>交易平台</title>
    <meta name="keywords" content="交易平台 ">
    <meta name="description" content="交易平台">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- <link rel="stylesheet" href="https://f.hcfujia.com/template/blue/mobile/css/Jingle.css?20160216" /> -->

    <link rel="stylesheet" href="/css/Jingle.css">
    
</head>

<body>

<div id="section_container">

    <!-- 页面容器 -->

    <section id="index_section" data-btn="index" title="交易网" class="active">
 <div id="fix_js" class="fix_css">
    <header>
        <nav class="left" style="float:left;">
            <a id="back" class="dn" href="#" data-target="back"><span class="icon-f053 left fz20"></span></a>
            <a id="back" class="dn" href="https://f.hcfujia.com/mobile/">&nbsp;首页&nbsp;&nbsp;&nbsp;&nbsp;</a>
            <a id="logo" class="dn" href="https://f.hcfujia.com/mobile/" data-target="index"><img src="images/301028119689fc88260071.png" alt="交易网" width="90" height="43"></a>
        </nav>
        <nav style="text-align: center;width:100%;">交易网</nav>
        <!--<nav id="title" class="title" style="text-align:center;">富家网</nav>-->
        <nav class="right" style="float:right; width:120px;">
            <a href="tel:400-1515-165">我要发布</a>
        </nav>
    </header>
</div>