<head>
<meta charset="utf-8" />
<title><if condition="$detail.article_title neq ''">{$detail.article_title}<else/>技术成就梦想</if></title>
<meta name="description" content="IT、JAVA、PHP
、Python、JavaScript、css、html、html5;技术博客，IT技术、教程、计算机、编程知识、算法讲解、网站建设、云服务">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" href="/favicon.ico" />
<load file="/static/css/index/vendors.bundle.css"/>
<load file="/static/css/index/style.bundle.css"/>
<load file="/static/js/admin/plugins/ajaxpagination/ajaxpagination.css"/>
<load file="/static/css/index/index.css"/>
</head>
