body{background: #fff8e6;}
.m-portlet .m-portlet__head{height:3rem;}
@media (min-width: 993px){
    .m-header .m-header__top {height: 45px;visibility:hidden;}
    .m-header .m-header__top .m-brand__logo-wrapper{display:none;}
    .m-header--fixed.m-header--minimize-off .m-header .m-header__top{ height: 45px;}
    .m-header--fixed .m-header{height:70px !important;}
    .m-header .m-header__bottom{background:#fff8e6;}
}
.m-header-search .m-header-search__wrapper{background-color: #f0f0f0;}
.m-header-search .m-header-search__input{color:#111111;}
.m-header-search.m-header-search--expandable .m-header-search__input{width: 220px;}
pre {display: block;padding: 9.5px;margin: 0 0 10px;font-size: 13px;line-height: 1.428571429;word-break: break-all;word-wrap: break-word;color: #333333;background-color: #f5f5f5;border: 1px solid #cccccc;border-radius: 4px;}
.other__item--hover > a >i{color:#ffffff !important;}
@media (min-width: 993px) {
    .m-header-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{font-weight:bold;}
    .m-header-menu.m-header-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text{color:#1f1f1b;}
    .m-header .m-header__bottom{top:-45px;z-index:222;}
    .m-header--fixed .m-body {padding-top:90px !important;}
}
.m-portlet .m-portlet__body {padding: 1rem 1rem;}
.bread-nav{color:#009a63;}
.bread-nav:hover{color:#009a61;}
.bread-nav-last{color:#575962;cursor:default;}
.bread-nav-last:hover{text-decoration:none;color:#575962;}
.hr-line-dashed{height:1px;margin:20px 0px;border-top:1px dashed #dedbdb;}
b,strong{font-weight:bold;}
.m-header-search.m-header-search--expandable .m-header-search__input {width:180px;}
@media (min-width: 993px){
    .m-header-search.m-header-search--expandable .m-header-search__input:focus {
        -webkit-transition: width .4s ease-out;
        -moz-transition: width .4s ease-out;
        -ms-transition: width .4s ease-out;
        -o-transition: width .4s ease-out;
        transition: width .4s ease-out;
        width:220px;
    } 
}

@media (max-width: 992px){
    .m-header-search .m-header-search__input {
        background-color: transparent;
        color: #333;
        padding: 15px 10px 7px 10px;
    }
}

@media (min-width: 993px){
    .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link .m-menu__link-text {
    color: #8d6f6f;
}

@media (min-width: 993px){
    .m-header-menu.m-header-menu--skin-dark .m-menu__nav>.m-menu__item:hover>.m-menu__link .m-menu__link-text {
    color: #8d6f6f;
}


#latest-news-list ol{padding-left:1rem;}
#latest-news-list ol li a{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#454080;width:100%;display:inline-block;}
.index-col-xl-9 ,.index-col-xl-9  .m-portlet__body,.index-col-xl-9 .m-portlet.m-portlet--mobile {background:#fff8e6;}
.m-menu__item.m-menu__item--active span.m-menu__item-here{color:#fff8e6 !important;}
.index-col-xl-9{box-shadow:0px -2px 10px #595454;}